# Python数据分析第一次作业（2024春）
各位同学好！本Jupyter notebook文件包括2024春《Python数据分析》第一次作业的全部题目。<br />
本作业使用Amazon Sale数据集。Amazon是美国最大的电子商务交易网站，本数据集有助于深入了解电子商务销售的盈利能力。它包含各种销售渠道的数据，以及相关费用和利润的财务信息。数据列包含SKU代码、库存级别、产品类别等数据。此外，数据采集人员还添加了交易参数，如B2B状态、成交金额的销售情况。<br />
本数据集经下载整理后包含该网站2022年4至6月的销售数据。<br />

本次作业满分为10分，各题具体分值已在每道题目后给出。作业整体要求具体如下，不符合要求将另外扣分：<br />
1.请将【所有代码和文字】写在本jupyter notebook中，并只在教学网上提交这一个.ipynb文件。命名为【学号-姓名】，例如2100016666-张三.ipynb。<br />
2.请保证提交的notebook可完整运行，提交【按顺序全部运行后】的文件。<br />
3.请保证代码的【可读性】，并适当添加【注释】说明代码功能。<br />
4.部分题目会要求【说明结果】，请用文字对运行结果做简要说明，解释输出内容的含义。

## 数据集各字段释义：
'Category'：Type of product.<br />
'Size'：Size of the product.<br />
'Date'：Date of the sale. <br />
'Status'：Status of the sale. <br />
'Fulfilment'：Method of fulfilment. <br />
'Style'：Style of the product. <br />
'SKU'：Stock Keeping Unit.【tips:该字段作为判断单个商品的ID】<br />
'ASIN'：Amazon Standard Identification Number. <br />
'Courier Status'：Status of the courier. <br />
'Qty'：Quantity of the product. <br />
'Amount'：Amount of the sale. <br />
'B2B'：Business to business sale. <br />
'Currency'：The currency used for the sale.<br />

## 1. 导入'Amazon Sale Report.csv'，并将DataFrame命名为'sale_data',显示前5行（0.5分）

In [2]:
import pandas as pd
import numpy as np
sale_data = pd.read_csv('Amazon Sale Report(1).csv')
sale_data.head(5)

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,...,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,...,NaN,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,...,NaN,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,...,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN

## 2.检查各字段的数据类型以及非空值的数量。（0.5分）

In [3]:
sale_data.dtypes

Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
B2B                      bool
fulfilled-by           object
dtype: object

In [4]:
sale_data.count()

Order ID              73695
Date                  73695
Status                73695
Fulfilment            73695
Sales Channel         73695
ship-service-level    73695
Style                 73695
SKU                   73695
Category              73695
Size                  73695
ASIN                  73695
Courier Status        69458
Qty                   73695
currency              69258
Amount                69258
ship-city             73681
ship-state            73681
ship-postal-code      73681
ship-country          73681
B2B                   73695
fulfilled-by          24355
dtype: int64

## 3.统计各个字段的缺失值比例，转为百分比形式，保留两位小数（0.5分）

In [5]:
(sale_data.isnull().sum(axis=0)/sale_data.shape[0]).map(lambda x:'%.2f%%' % (x*100))

Order ID               0.00%
Date                   0.00%
Status                 0.00%
Fulfilment             0.00%
Sales Channel          0.00%
ship-service-level     0.00%
Style                  0.00%
SKU                    0.00%
Category               0.00%
Size                   0.00%
ASIN                   0.00%
Courier Status         5.75%
Qty                    0.00%
currency               6.02%
Amount                 6.02%
ship-city              0.02%
ship-state             0.02%
ship-postal-code       0.02%
ship-country           0.02%
B2B                    0.00%
fulfilled-by          66.95%
dtype: object

## 4. 删除'Courier Status'列中取值为Cancelled和NaN的订单（0.5分）

In [6]:
sale_data = sale_data[~(sale_data['Courier Status'].isin([np.nan,'Cancelled']))]

## 5. 统计销售金额（Amount）为NaN的订单状态（status）如何？然后将取值为空的Amount设置为0。（1分）

In [7]:
sale_data[sale_data['Amount'].isnull()]['Status'].value_counts()

Status
Shipped      67
Shipping      8
Cancelled     1
Name: count, dtype: int64

In [8]:
sale_data['Amount'].fillna(value=0,inplace=True)
sale_data[sale_data['Amount'].isin([0])]

C:\Users\lenovo\AppData\Local\Temp\ipykernel_18752\1547656172.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sale_data['Amount'].fillna(value=0,inplace=True)

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,...,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by
212,408-4547464-4180323,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3568,JNE3568-KR-XXL,kurta,XXL,...,Shipped,1,INR,0.0,BHUBANESWAR,ODISHA,752054.0,IN,False,Easy Ship
374,408-5020509-5674715,04-30-22,Shipped - Returned to Seller,Merchant,Amazon.in,Standard,JNE3798,JNE3798-KR-M,Western Dress,M,...,Shipped,1,INR,0.0,NEW DELHI,DELHI,110096.0,IN,False,Easy Ship
385,408-3137526-3167563,04-30-22,Shipped,Amazon,Amazon.in,Standard,JNE3405,JNE3405-KR-L,kurta,L,...,Shipped,1,INR,0.0,DARJEELING,WEST BENGAL,734101.0,IN,False,NaN
388,408-7971979-8745937,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0401,J0401-DR-XS,Western Dress,XS,...,Shipped,1,INR,0.0,LUDHIANA,PUNJAB,141001.0,IN,False,Easy Ship
392,408-0912805-7526753,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET365,SET365-KR-NP-L,Set,L,...,Shipped,1,INR,0.0,MUMBAI,MAHARASHTRA,400101.0,IN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73232,408-5256900-7446724,06-13-22,Shipped,Amazon,Amazon.in,Standard,JNE3439,JNE3439-KR-XXL,kurta,XXL,...,Shipped,1,INR,0.0,LUCKNOW,UTTAR PRADESH,226022.0,IN,False,NaN
73346,408-3337799-3996363,06-13-22,Shipped,Amazon,Amazon.in,Standard,JNE3431,JNE3431-KR-XL,kurta,XL,...,Shipped,1,INR,0.0,CHENNAI,TAMIL NADU,600088.0,IN,False,NaN
73438,408-9168380-4087502,06-13-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3619,JNE3619-KR-M,kurta,M,...,Shipped,1,INR,0.0,VISAKHAPATNAM,ANDHRA PRADESH,531173.0,IN,False,Easy Ship
73440,408-4459517-5241121,06-13-22,Shipped,Amazon,Amazon.in,Standard,J0372,J0372-SKD-XL,Set,XL,...,Shipped,1,INR,0.0,ALLAHABAD,UTTAR PRADESH,211004.0,IN,False,NaN
73452,408-9168797-8583552,06-13-22,Shipped,Amazon,Amazon.in,Standard,JNE3611,JNE3611-KR-L,kurta,L,...,Shipped,1,INR,0.0,NEW DELHI,DELHI,110065.0,IN,False,NaN

## 6.统计配送订单数量前10的城市（city）（1分）

In [9]:
sale_data['ship-city'].value_counts(ascending=False).head(10)

ship-city
BENGALURU    5860
HYDERABAD    4251
MUMBAI       3172
NEW DELHI    2924
CHENNAI      2764
PUNE         2005
KOLKATA      1221
GURUGRAM     1029
THANE         856
NOIDA         751
Name: count, dtype: int64

## 7. 销售渠道（sales channel）中不同配送方式（ship-service-level）各有多少订单？(1分)

In [10]:
sale_data.groupby(['Sales Channel','ship-service-level']).size()

Sales Channel  ship-service-level
Amazon.in      Expedited             45486
               Standard              20633
Non-Amazon     Standard                 76
dtype: int64

## 8. 筛选出同一笔订单中购买两个以上商品的Style有哪些？
### a. 检查订单ID的重复情况。（共计多少个重复订单？）（0.5分）
### b.给出相同订单同时购买的商品Style列表。（0.5分）

In [11]:
len(sale_data[sale_data.duplicated(subset='Order ID')])

4442

In [12]:
duplicate_orders = sale_data[sale_data.duplicated(subset=['Order ID'], keep=False)]
duplicate_orders_styles = duplicate_orders.groupby('Order ID')['Style'].unique()
duplicate_orders_styles = duplicate_orders_styles[duplicate_orders_styles.apply(len) >= 2]
print(duplicate_orders_styles)

Order ID
171-0014231-7760344       [SET342, J0224]
171-0015435-1981904    [JNE3611, JNE3794]
171-0019960-6156301      [SET334, SET331]
171-0032816-1151573      [JNE3652, NW037]
171-0036605-7601963      [SET342, SET402]
                              ...
408-9823927-1281934      [JNE3741, J0353]
408-9844771-3172335      [SET230, SET233]
408-9857809-5032314        [J0277, J0281]
408-9876890-8309916        [J0335, J0341]
408-9918322-1697932      [SET344, SET293]
Name: Style, Length: 3357, dtype: object

## 9. B2B和非B2B用户的购买力如何？
### a. 统计两类用户的总销售金额和总销量。（1分）
【注：需要将取值False替换为‘Non-B2B',取值True替换为'B2B',使你的答案更具有可读性】
### b. 分别统计两类用户畅销TOP5（销售金额、销量）的商品有哪些。（1.5分）

In [13]:
sale_data['B2B'].replace({True:'B2B',False:'Non-B2B'})
b2bsum = sale_data[sale_data['B2B'] == True]['Amount'].sum()
no_b2bsum = sale_data[sale_data['B2B'] == False]['Amount'].sum()
print('总额：')
print(b2bsum)
print(no_b2bsum)

总额：
366823.0
42709315.0

In [14]:
sale_data[sale_data['B2B'] == True]['Qty'].sum()

528

In [15]:
sale_data[sale_data['B2B'] == False]['Qty'].sum()

65908

In [16]:
sale_data[sale_data['B2B'] == True].groupby('Category')['Qty'].count().sort_values(ascending=False)

Category
Set              209
kurta            195
Western Dress     64
Top               29
Ethnic Dress       9
Blouse             6
Bottom             3
Saree              1
Name: Qty, dtype: int64

In [17]:
print(sale_data[sale_data['B2B'] == True].groupby('Category')['Qty'].count().sort_values(ascending=False).head(5))
print(sale_data[sale_data['B2B'] == False].groupby('Category')['Qty'].count().sort_values(ascending=False).head(5))
print(sale_data[sale_data['B2B'] == True].groupby('Category')['Amount'].count().sort_values(ascending=False).head(5))
print(sale_data[sale_data['B2B'] == False].groupby('Category')['Amount'].count().sort_values(ascending=False).head(5))

Category
Set              209
kurta            195
Western Dress     64
Top               29
Ethnic Dress       9
Name: Qty, dtype: int64
Category
Set              25212
kurta            24921
Western Dress     8320
Top               5767
Ethnic Dress       586
Name: Qty, dtype: int64
Category
Set              209
kurta            195
Western Dress     64
Top               29
Ethnic Dress       9
Name: Amount, dtype: int64
Category
Set              25212
kurta            24921
Western Dress     8320
Top               5767
Ethnic Dress       586
Name: Amount, dtype: int64

## 10.分别统计4-6月订单销量TOP3的商品以及各月销售金额TOP3的品类（1.5分）
## 数据集各字段释义：
'Category'：Type of product.<br />
'Size'：Size of the product.<br />
'Date'：Date of the sale. <br />
'Status'：Status of the sale. <br />
'Fulfilment'：Method of fulfilment. <br />
'Style'：Style of the product. <br />
'SKU'：Stock Keeping Unit.【tips:该字段作为判断单个商品的ID】<br />
'ASIN'：Amazon Standard Identification Number. <br />
'Courier Status'：Status of the courier. <br />
'Qty'：Quantity of the product. <br />
'Amount'：Amount of the sale. <br />
'B2B'：Business to business sale. <br />
'Currency'：The currency used for the sale.<br />

In [18]:
data = sale_data
data['Date'] = pd.to_datetime(data['Date'])

# 筛选出4-6月份的订单数据
data_4_to_6 = data[(data['Date'].dt.month >= 4) & (data['Date'].dt.month <= 6)]

# 统计销量TOP3的商品
top3_products_qty = data_4_to_6.groupby('SKU')['Qty'].sum().nlargest(3)
top3_products_qty

C:\Users\lenovo\AppData\Local\Temp\ipykernel_18752\460181689.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Date'] = pd.to_datetime(data['Date'])

SKU
JNE3797-KR-L    353
JNE3797-KR-S    311
JNE3797-KR-M    298
Name: Qty, dtype: int64

In [19]:
#4-6
data_4_to_6.groupby('Category')['Amount'].sum().nlargest(3)

Category
Set              21245549.0
kurta            11529664.0
Western Dress     6390362.0
Name: Amount, dtype: float64